@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Fjalla+One|Roboto+Condensed');

/*
font-family: 'Cabin Sketch', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Fjalla One', sans-serif;
*/

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  overflow-x: hidden;
}
h1 {
  font-size: 12vw;
  color:white;
  margin: auto;
  text-shadow: 1px 1px 1px #3d3d3d;
  text-decoration: none;
  text-align: center;
  /*font-family: 'Fjalla One', sans-serif;*/
}
h3 {
  font-size: 3em;
  margin: auto;
  text-decoration: none;
}
h2 {
  font-size: 6.5em;
  margin: auto;
  text-decoration: none;
}

a{
  text-decoration: none;
}

#navigationPrincipale {
    position: fixed;
    width: 105%;
    height: 75px;
    z-index: 9999;
    background-color: rgb(241, 196, 15);
    border-bottom: 3px solid #f2f2f2;
}

#navigationPrincipale ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
}
#navigationPrincipale li {
  float: right;
  margin-right: 1px;
  border-bottom: 2px solid #fff;
  margin: 5px;
}
#navigationPrincipale li a {
  display: block;
  min-width: 140px;
  line-height: 50px;
  text-align: center;
  text-decoration: none!important;
  color: white;
}
#entete {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  clear: both;
  display: flex;
  justify-content: space-around;
  background-image: url(../images/bg1.jpeg);
}
.nom {
  top: 0;
  width: 90%;
  height: 20%;
  z-index: 5;
  text-align: right;
  margin-right: 0;
  margin-top: 20%;
  position: absolute;
}
#portfolio {
  width: 100vw;
  height: 100%;
  padding-top: 30px;
  margin-bottom: 100px;
  text-decoration: none!important;
}
#conteneurProjet {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#conteneurLink{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#conteneurSkills{
  height: auto;
}

#conteneurProjet > div {
  width: 400px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#conteneurProjet img {
  width: 800px;
}
.overItemPortfolio {
  height: 300px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
}

.overItemPortfolio:hover{
  opacity: 1;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

.overItemPortfolio li:first-child {
  margin-top: 100px;
}
.overItemPortfolio li {
  margin-bottom: 25px;
  height: 50px;
}
.zoom,
.www {
  border: 2px solid #3d3d3d;
  border-radius: 3px;
  padding: 10px;
  width: 100px;
  margin: 0 auto;
  margin: 10px;
  text-decoration: none!important;
}

.descriptionProjet{
  margin: 0 auto;
  width: 80%;
}

.quote {
  padding-top: 75px;
  text-align: center;
}
.sectionTitre {
  text-align: center;
  text-decoration: none;
}
#competence {
  width: 100vw;
  height: 100vh;
  padding-bottom: 100px;
  background-color: #f2f2f2;
  padding-top: 30px;
  text-decoration: none!important;
}
#joindre {
  width: 100vw;
  height: 100vh;
  background-color: #3d3d3d;
  padding-top: 30px;
  text-decoration: none!important;
}
#joindre h2,
#joindre h3,
#joindre p {
  color: #fff;
  text-decoration: none;
}

#joindre p{
	margin: 0 auto;
	text-align: center;
}

i{
  font-size: 30em;
  color:#fff;
  padding: 100px 25px;
}

/************* TEST SKILLS via codepen: https://codepen.io/triss90/pen/pjPRyW ****************/

.skills {
  width: 90%;
  margin: 0 auto;
  margin-top: 10%;
}


.skills .columnDuSkill {
  width: 50%;
  float: left;
}
@media (max-width: 1000px) {
  .skills .columnDuSkill {
    width: 100%;
  }
}
.skills .columnDuSkill .nomSkill {
  font-size: 20px;
  text-align: center;
  font-family: Verdana;
  color: #cccccc;
}
.skills .columnDuSkill .skill-icons {
  text-align: center;
}
.skills .columnDuSkill .skill-icons span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  background: #cccccc;
  margin: 10px 5px 20px 5px;
  font-weight: 700;
}

/*********************************** SCROLL BAR ****************************************/

::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: none;
  margin-right: 5px;
}
::-webkit-scrollbar-thumb {
  background: #f2f2f2;
  height: 30px;
  border-radius: 12px;
  cursor: crosshair;
}
::-webkit-scrollbar-corner {
  background: none;
}
::-moz-scrollbar {
  height: 12px;
  width: 5px;
  background: none;
  margin-right: 5px;
}
::-moz-scrollbar-thumb {
  background: #f2f2f2;
  height: 30px;
  border-radius: 12px;
  cursor: crosshair;
}
::-moz-scrollbar-corner {
  background: none;
}
::-ms-scrollbar {
  height: 12px;
  width: 5px;
  background: none;
  margin-right: 5px;
}
::-ms-scrollbar-thumb {
  background: #f2f2f2;
  height: 30px;
  border-radius: 12px;
  cursor: crosshair;
}
::-ms-scrollbar-corner {
  background: none;
}
::-o-scrollbar {
  height: 12px;
  width: 5px;
  background: none;
  margin-right: 5px;
}
::-o-scrollbar-thumb {
  background: #f2f2f2;
  height: 30px;
  border-radius: 12px;
  cursor: crosshair;
}
::-o-scrollbar-corner {
  background: none;
}
::-scrollbar {
  height: 12px;
  width: 5px;
  background: none;
  margin-right: 5px;
}
::-scrollbar-thumb {
  background: #f2f2f2;
  height: 30px;
  border-radius: 12px;
  cursor: crosshair;
}
::-scrollbar-corner {
  background: #f2f2f2;
}

/***********************MENU**************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*.menu-opener a {
  display: block;
  width: 100%;
  height: 100%;
}*/

.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu-opener {
  cursor: pointer;
  height: 64px;
  position: fixed;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 64px;
  background: #f1c40f;
    z-index: 11;
}

.menu-opener-inner {
  background: #fff;
  height: .5rem;
  margin-left: .75rem;
  margin-top: 1.75rem;
  width: 2.5rem;
}
.menu-opener-inner::before, .menu-opener-inner::after {
  background: white;
  content: '';
  display: block;
  height: .5rem;
  width: 2.5rem;
}
.menu-opener-inner::before {
  -webkit-transform: translateY(-0.75rem);
  -ms-transform: translateY(-0.75rem);
  transform: translateY(-0.75rem);
}
.menu-opener-inner::after {
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}
.menu-opener-inner.active {
  background: transparent;
}
.menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}
.menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.menu {
  background: #f1c40f;
  color: transparent;
  height: 64px;
  position: fixed;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0rem;
  z-index: 10;
}
.menu.active {
  width: -webkit-calc(100% - 2rem);
  width: calc(100% - 2rem);
}
.menu.active .menu-link {
  color: white;
}

.menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-left: 4rem;
  padding: 0;
}

.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 2rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
.menu-link li {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }
  .menu-inner {
    display: block;
  }
  .menu-link {
    padding: 10px 0;
    font-size: 1.2em;
  }
  .menu.active {
    width: -webkit-calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
  }
}